<header>
  <nav class="navbar">
    <a class="brand" href="#" routerLink="/">
      <h1 class="logo">Schedular</h1>
    </a>
    <ul class="navlinks">
      <li class="navlink"><a routerLink="/dashboard" routerLinkActive="active"><i class="material-icons">dashboard</i><span class="navitem">Dashboard</span></a></li>
      <li class="navlink"><a routerLink="/planner" routerLinkActive="active"><i class="material-icons">event</i><span class="navitem">Planner</span></a></li>
      <li class="navlink"><a routerLink="/notifications" routerLinkActive="active"><i class="material-icons">notifications</i><span class="navitem">Notifications</span></a></li>
      <li class="navlink"><a routerLink="/profile" routerLinkActive="active"><i class="material-icons">person</i><span class="navitem">Profile</span></a></li>
      <li class="navlink"><a routerLink="/settings" routerLinkActive="active"><i class="material-icons">settings</i><span class="navitem">Settings</span></a></li>
    </ul>
  </nav>
</header>

<div class="main">
  <router-outlet></router-outlet>
</div>